/* General Styling */


body {
    font-family: 'Times New Roman', Times, serif,;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eaf4ed; /* Backkk back background */
    color: #D3D3D3; /* Light gray text */
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #083d28; /* Header navigation bar color */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #ffffff; /* Light gray text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #087548; /* Hover color of text in the box */
}

/* Header */
header {
    background-color: #dce8e3; /* background of second header/title screen */
    padding: 20px;
    text-align: center;
    color: #2c2828; /* White text for the header */
}

header h1 {
    margin: 0;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #1f4232; /* Box w/ the sub sections! */
    border-radius: 5px;
}

section h1, section h2 {
    color: #FFFFFF; /* White text for headings */
}

section a {
    color: #ADD8E6; /* Light blue for links */
}

section a:hover {
    color: #87CEEB; /* Sky blue when hovering over links */
}
